<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                @Html.ActionLink("Allbertino Rosca Movies Ltda.", "Index", "Home", new { area = "" }, new { @class = "nav-item nav-link active" })
                @Html.ActionLink("Salas", "Index", "Salas", new { area = "" }, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Categorias", "Index", "Categorias", new { area = "" }, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Filmes", "Index", "Filmes", new { area = "" }, new { @class = "nav-item nav-link" })
                @Html.ActionLink("Exibições", "Index", "Exibicoes", new { area = "" }, new { @class = "nav-item nav-link" })

            </div>
        </div>







    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer-copyright text-center py-2 text-center fixed-bottom">
        <hr />
        <p>&copy; @DateTime.Now.Year - Feito com muito <i class="fas fa-heart"></i> para o Allbert</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
