@model Atividade_Allbert_Cinema.Models.Salas

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <h4>Salas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TamanhoDaTela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TamanhoDaTela)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index", new { area = "" }, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
