@model Atividade_Allbert_Cinema.Models.Salas

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Salas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TamanhoDaTela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TamanhoDaTela)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Voltar", "Index", new { area = "" }, new { @class = "btn btn-secondary" })
</p>
