@model IEnumerable<Atividade_Allbert_Cinema.Models.Exibicoes>

@{
    ViewBag.Title = "Index";
}
    <div class="jumbotron m-0">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center p-2">Exibição</h1>
            </div>
        </div>
        <p class="text-center">
            @Html.ActionLink("Adicionar", "Create", new { area = "" }, new { @class = "btn btn-success" })
        </p>
    </div>
    <hr />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-12 col-md-4 p-3 text-center">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <i class="fas fa-video card-img-top p-1" style="font-size:15vh;"></i>

                    <h5 class="card-title font-weight-bold">Nome: @Html.DisplayFor(modelItem => item.Filme.Nome)</h5>
                    <h5 class="card-title font-weight-bold">Sala: @Html.DisplayFor(modelItem => item.Sala.Nome)</h5>

                    <div class="row">
                        <div class="col-4 p-0">
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-warning m-0" })

                        </div>
                        <div class="col-4 p-0">
                            @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info m-0 mr-1" })
                        </div>
                        <div class="col-4  p-0">
                            @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger m-0" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

