@model IEnumerable<Atividade_Allbert_Cinema.Models.Exibicoes>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12">
        <h1 class="text-center p-5">Exibição</h1>
    </div>
</div>
<p class="text-center">
    @Html.ActionLink("Adicionar", "Create", new { area = "" }, new { @class = "btn btn-success" })
</p>
<hr />

<div class="row align-content-center">
    @foreach (var item in Model)
    {
        <div class="col-12 col-md-4 p-3 text-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <i class="fas fa-video card-img-top p-1" style="font-size:15vh;"></i>

                    <h5 class="card-title font-weight-bold">Nome: @Html.DisplayFor(modelItem => item.Filme.Nome)</h5>
                    <h5 class="card-title font-weight-bold">Sala: @Html.DisplayFor(modelItem => item.Sala.Nome)</h5>

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </div>
            </div>
        </div>
    }
</div>

