@model IEnumerable<Atividade_Allbert_Cinema.Models.Categorias>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-12">
        <h1 class="text-center p-5">Categorias</h1>
    </div>
</div>
<p class="text-center">
    @Html.ActionLink("Adicionar", "Create", new { area = "" }, new { @class = "btn btn-success" })
</p>
<hr />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-4 p-3 text-center">
                <div class="card mx-auto" style="width: 18rem;">
                    <div class="card-body">
                        <i class="fas fa-archive card-img-top p-1" style="font-size:15vh;"></i>

                        <h5 class="card-title font-weight-bold">Categoria: @Html.DisplayFor(modelItem => item.Descricao)</h5>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </div>
                </div>
            </div>
        }
    </div>


